* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: "Microsoft YaHei";
    scrollbar-3dlight-color: transparent;
}
body {
    width: 100%;
    font-size: 14px;
    color: #878787;
    -ms-touch-action: inherit;
    touch-action: inherit;
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
    background-color: #000;
    overflow: hidden;
}
body{
    margin:0 auto;
    border:none !important;
}
div {
    border: none;
}
#pageWrap {
    width: 100%;
    height: 100%;
    display: none;
    overflow: hidden;
}

.page_full{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.page {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    overflow: hidden;
}
.page-current {
    display: block;
}
.zoom-page {
    /*width: 810px;*/
    /*height: 1316px;*/
    position: absolute;
    bottom: 0;
    left: 0;
    /*top: -50px;*/
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    z-index: 2;
}
#video {
    position: absolute;
    left: 0;
    /*width: 810px;*/
    /*height: 398px;*/
    background-color: #000;
}

#startBtn{
    position: absolute;
    bottom:50px;
    left:0;
    right:0;
    width: 100%;
    height: 150px ;
    z-index:1000;
    background-color: transparent;
    border: 0;
}

.light_rotate{
    -moz-animation:rotate 20s infinite linear;
    -webkit-animation:rotate 20s infinite linear;
    animation:rotate 20s infinite linear;
}
@-moz-keyframes rotate{
    0%{
        -moz-transform:rotate(0deg);
    }
    100%{
        -moz-transform:rotate(360deg);
    }
}
@-webkit-keyframes rotate{
    0%{
        -webkit-transform:rotate(0deg);
    }
    100%{
        -webkit-transform:rotate(360deg);
    }
}
@keyframes rotate{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}


.loading_head{
    position: absolute;
    text-align: center;
    top: 184px;
    width: 100%;
}

.loading_foot{
    position: absolute;
    text-align: center;
    bottom: 64px;
    width: 100%;
}

.start_head{
    position: absolute;
    text-align: center;
    top: 132px;
    width: 100%;
}


.start_foot{
    position: absolute;
    text-align: center;
    bottom: 52px;
    width: 100%;
}


.light_book{
    position: relative;
    margin-top: 240px;;
}

.book_pos{
    width: 100% ;
    position: absolute;
    top: 44px;
    left: 0;
    text-align: center;
}

.next_pos{
    position: absolute;
    bottom: 60px;
    width: 100%;
    left: 0;
    text-align: center;
}


.end_head{
    position: absolute;
    text-align: center;
    top: 54px;
    width: 100%;
}


.end_foot{
    position: absolute;
    text-align: center;
    bottom: 93px;
    width: 100%;
}

.view_mask{
    position: absolute;
    width: 100%;
    height:100%;
    top: 0px;
    left: 0px;
    text-align: center;
    z-index: 1000;
}