* {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.butterfly-pos{
    position: absolute;
    top: 265px;
    left: 95px;
}

.butterfly-jigsaw{
    position: absolute;
    top: 705px;
    width: 100%;
}

.butterfly-jigsaw img{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 25px;
}


