* {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.butterfly-pos{
    position: relative;
    width: 488px;
    height: 488px;
    margin: 0 auto;
    margin-top: 205px;
}

.butterfly-jigsaw{
    position: absolute;
    top: 705px;
    width: 100%;
}

.engine-pos{
    position: relative;
    margin: 0 auto;
    margin-top: 313px;
    width: 552px;
    height: 381px;
}

.butterfly-jigsaw img{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 25px;
}
.engine-jigsaw{
    position: absolute;
    top: 705px;
    width: 100%;
}
.engine-jigsaw img{
    margin-left: 15px;
    margin-right: 5px;
    margin-top: 15px;
    margin-bottom: 25px;
}

.page_left{
    position: absolute;
    top: 920px;
    width: 150px;
    height: 210px;
    left:250px;"
}

.page_right {
    position: absolute;
    top: 920px;
    width: 150px;
    height: 210px;
    left:410px;"
}

.dp{
    width: 150px;
    height: 150px;
    position: absolute;
}

.back{
    margin-top: 950px;
}