* {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.start_pos{
    position: absolute;
    top: 440px;
    left: 185px;
    height: 185px;
    width: 280px;
}

.question_pos{
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    z-index:1000;
}

.question_pos img{
    margin-bottom: 40px;
}

.question_pos img.answer{
    margin-bottom: 30px;
}

.page_right {
    position: absolute;
    top: 920px;
    width: 150px;
    height: 210px;
    left:400px;
    /*background-color: red*/
}

