* {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.start_pos{
    position: absolute;
    top: 440px;
    height: 185px;
    width: 100%;
}

.memory{
    height: 250px;
}

.memory_high{
    height: 280px;
}
.btn_line{
    bottom: 40px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.page_left{
    position: absolute;
    top: 920px;
    width: 150px;
    height: 210px;
    left:250px;"
}

.page_right {
    position: absolute;
    top: 920px;
    width: 150px;
    height: 210px;
    left:410px;"
}

